:root {
    --ap-blue: #3462FF;
    --ap-dark-blue: #2749ba;
    --ap-purple: #C723FF;
    --ap-dark-purple: #921bb9;
    --ap-red: #ee0000;
    --ap-dark-red: #b40000;
    --ap-light-gray: #EDF2F7;
    --ap-light-black: #333333;
    --ap-black: #000000;
    --ap-white: #ffffff;
}

body {
    background-color: var(--ap-light-gray);
}

.form-label {
    font-weight: 600;
    text-transform: uppercase;
}

.form-control {
    border-radius: 20px;
    font-size: 1.2em;
}

.ap-button {
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 25px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}

.no-makers {
    list-style-type: none;
}

.no-underline {
    text-decoration: none;
}

.error {
    text-align: center;
    font-size: 1.1em;
    color: var(--ap-red);
    margin-top: 10px;
}